footer{
    background-image: linear-gradient(to top right, rgb(129, 154, 236, .5), rgb(73, 167, 255, .5));
    width: 100%;
    border: black solid 2px;
    margin-left: auto;
    margin-right: auto;
}

.footerStyle{
    display: flex;
    margin:0 auto;
    border: yellow solid 2px;
    /*justify-content: center;*/
    /* text-align: center; */
    
    width: 1000px;
}

.footerStyle h1{
    width: 50%;
}

.wrap{
    /* text-align:right; */
    border: red none 2px;
    width: 40%;
}

.wrap h3{
    /* padding:5px; */
    /* margin: 5px; */
    text-align: left;
}