header{
  display:block;
  width: 100%;
  border: black none 2px;
  /*background-image: linear-gradient(to bottom, rgba(129, 154, 236, .8), white);*/
  background-image: linear-gradient(to right, rgb(78, 171, 252, .5), rgb(122, 193, 255, .5));
}
#h1-header{
  border: yellow none 2px;
  text-align: left;
  width: 35%;
}

#header-style {
  width: 1000px;
  
  border: black none 2px;
  margin: 0 auto;
  display:flex;
  align-items: center;
  }
  
  .Menu{
      /* width: 1000px; */
      border: black none 2px;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      margin-top: 0px;
      /* padding: 4px; */
      
      /* margin: 2em 3em; */
      /* width: 1000px; */
      /* width: 100%; */
      display: flex;
      justify-content: space-evenly;
      width: 65%;
      /* flex-wrap: wrap;  */
      /* justify-content: center; */
  }
  
  /* .btn-group {
      display: flex;
      justify-content: center;
      margin: 5px;
      padding: 5px;
      
  } */
  
  .Menu button {
      background-image: linear-gradient(to top right, rgb(107, 163, 107), rgb(80, 148, 80));
      /* background-color: #4CAF50;  */
      border: 2px solid green;
      color: white;
      padding: 10px 0px 10px 0px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      margin: 10px 2px 10px 2px;
      border-radius: 10px;
      width: 100px;
      /* width: 15%; */
    }
    
    .Menu button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
    
    .Menu button:hover {
      /* background-color: #3e8e41; */
      background-image: linear-gradient(to top right, rgb(57, 133, 57), rgb(19, 90, 19));
      color: yellow;
      /* background-color: #4CAF50;  */
    }