

#header-style {
  background-image: linear-gradient(to top right, rgb(129, 154, 236, .5), rgb(73, 167, 255, .5));
  width: 1000px;
  border: black solid 2px;
  margin-left: auto;
      margin-right: auto;

  }
  
  .Menu{
      width: 1000px;
      /* border: black solid 2px; */
      margin-left: auto;
      margin-right: auto;
      position: relative;
      /* padding: 4px; */
      
      /* margin: 2em 3em; */
      /* width: 1000px; */
      /* width: 100%; */
      display: flex;
      justify-content: space-evenly;
      /* flex-wrap: wrap;  */
      /* justify-content: center; */
  }
  
  /* .btn-group {
      display: flex;
      justify-content: center;
      margin: 5px;
      padding: 5px;
      
  } */
  
  .Menu button {
      background-image: linear-gradient(to top right, rgb(107, 163, 107), rgb(80, 148, 80));
      /* background-color: #4CAF50;  */
      border: 2px solid green;
      color: white;
      padding: 10px 0px 10px 0px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      cursor: pointer;
      margin: 10px;
      border-radius: 10px;
      width: 140px;
      /* width: 15%; */
    }
    
    .Menu button:not(:last-child) {
      border-right: none; /* Prevent double borders */
    }
    
    .Menu button:hover {
      /* background-color: #3e8e41; */
      background-image: linear-gradient(to top right, rgb(57, 133, 57), rgb(19, 90, 19));
      color: yellow;
      /* background-color: #4CAF50;  */
    }