*{
    margin-left: auto;
    margin-right: auto;
    /* width: 1000px; */
    width: 100%;
}

.worksAnimPage{
    margin-left: auto;
    margin-right: auto;
    /* width: 1000px; */
    /* width: 1000px; */
}